.about-wrapper {
  @include media(desktop) {
  }
}

.about-section {
  background: #080808;
  border: 1px solid rgba(209, 170, 215, 0.06);
  border-radius: 12px;
  padding-top: 30px;
  padding-bottom: 30px;

  @include media(desktop) {
    background: none;
    border: none;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.about-container {
  @include media(desktop) {
    padding: 0 80px;
  }
}

.about-content-wrapper {
  @include media(desktop) {
    background: #080808;
    border: 1px solid rgba(209, 170, 215, 0.06);
    border-radius: 12px;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    gap: 60px;
  }
}

.about-text-wrapper {
  background: radial-gradient(
    174.47% 54.08% at 45.92% 0%,
    #c86fff 0%,
    #111216 100%
  );
  border: 1px solid rgba(131, 111, 255, 0.5);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 40px;

  @include media(desktop) {
    padding: 40px;
    width: 100%;
    max-width: 580px;
    margin: 0;
  }
}

.about-subtitle {
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.about-subtitle-span {
}

.about-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e5e7eb;

  @include media(desktop) {
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.about-list-item {
  padding: 10px;
  width: 100%;
  max-width: 224px;
  display: flex;
  gap: 14px;

  @include media(desktop) {
    max-width: 266px;
  }
}

.about-icon-wrapper {
  border: 1px solid #c86fff;
  border-radius: 750px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.about-list-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55556;
  color: #fff;

  @include media(desktop) {
  }
}
