.contact-section {
  background: linear-gradient(180deg, #8c66e0 0%, #5a28c5 100%);
  padding-top: 80px;
  padding-bottom: 80px;

  @include media(desktop) {
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.contact-subtitle {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-list {
  padding: 0 13px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;

  @include media(desktop) {
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.contact-list-item {
  display: flex;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
  }
}

.contact-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.contact-item-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
  }
}

.contact-start-link {
  background: #fff;
  border-radius: 8px;
  padding: 12px 28px;
  width: 100%;
  max-width: 343px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #7132f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus {
  }

  @include media(desktop) {
    max-width: max-content;

    &:hover {
    }
  }
}
