.header {
  padding-top: 8px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 16px;
  }
}

.header-container {
  padding: 0 8px;

  @include media(desktop) {
    padding: 0 96px;
  }
}

.nav {
  box-shadow: 8px 8px 16px 0 rgba(210, 159, 206, 0.2);
  background: #fff;
  padding: 6px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.header-logo-span {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  color: #7132f5;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.nav-list-link {
  padding: 4px 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3a404c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    text-shadow: 0 0 0.5px currentColor;
  }
}

.nav-list-link.active {
}

.header-start-link {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7132f5;
    border-radius: 8px;
    padding: 8px 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background: #3a404c;
    }
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
