.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 200px;
  padding-bottom: 25px;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 208px;
    padding-bottom: 212px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    max-width: 1440px;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3125;
  text-transform: uppercase;
  color: #101828;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 52px;
    line-height: 1.23077;
    max-width: 624px;
    margin-bottom: 16px;
  }
}

.hero-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3a404c;
  margin-bottom: 325px;

  @include media(desktop) {
    max-width: 624px;
    margin-bottom: 40px;
  }
}

.hero-start-link {
  background: #7132f5;
  border-radius: 8px;
  padding: 12px 28px;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus {
    background: #3a404c;
  }

  @include media(desktop) {
    max-width: max-content;
    margin: 0;

    &:hover {
      background: #3a404c;
    }
  }
}
