<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="about-content-wrapper">
      <div class="about-text-wrapper">
        <h2 class="section-title about-title">About</h2>
        <p class="section-subtitle about-subtitle">
          From Idea <span class="subtitle-span">Sparks</span> to
          <span class="subtitle-span">Investor-Ready</span>
        </p>
        <p class="about-text">
          Most founders fail not because of bad ideas — but because they aren’t
          prepared for the high-pressure reality of pitching, scaling, and
          fundraising. GoHu helps you:
        </p>
      </div>
      <ul class="about-list">
        <li class="about-list-item">
          <div class="about-icon-wrapper">
            <svg class="about-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-test"></use>
            </svg>
          </div>
          <p class="about-list-item-text">Stress-test your business model</p>
        </li>
        <li class="about-list-item">
          <div class="about-icon-wrapper">
            <svg class="about-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-ai-chip"></use>
            </svg>
          </div>
          <p class="about-list-item-text">
            Improve your pitch with live & AI feedback
          </p>
        </li>
        <li class="about-list-item">
          <div class="about-icon-wrapper">
            <svg class="about-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-business"></use>
            </svg>
          </div>
          <p class="about-list-item-text">Learn how investors think</p>
        </li>
        <li class="about-list-item">
          <div class="about-icon-wrapper">
            <svg class="about-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-group"></use>
            </svg>
          </div>
          <p class="about-list-item-text">
            Connect with people who’ve been there
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
