<section class="section community-section" id="community">
  <div class="container community-container">
    <div class="community-content-wrapper">
      <h2 class="section-title community-title">Community</h2>
      <p class="section-subtitle community-subtitle">
        Grow With Fellow Pathfinders
      </p>
      <ul class="community-list">
        <li class="community-list-item">
          <picture>
            <source
              srcset="./img/community/community-img1-mob.png"
              media="(min-width: 1440px)"
              width="241"
              height="180" />
            <source
              srcset="./img/community/community-img1-mob.png"
              width="279"
              height="180" />
            <img
              class="community-img"
              src="./img/community/community-img1-mob.png"
              alt="Office"
              width="279"
              height="180"
              loading="lazy"
          /></picture>
          <div class="community-item-text-wrapper">
            <p class="community-list-item-text">
              Step-based forums for all levels
            </p>
            <a href="" class="community-item-link">
              <svg class="community-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="community-list-item">
          <picture>
            <source
              srcset="./img/community/community-img2-mob.png"
              media="(min-width: 1440px)"
              width="241"
              height="180" />
            <source
              srcset="./img/community/community-img2-mob.png"
              width="279"
              height="180" />
            <img
              class="community-img"
              src="./img/community/community-img2-mob.png"
              alt="Office"
              width="279"
              height="180"
              loading="lazy"
          /></picture>
          <div class="community-item-text-wrapper">
            <p class="community-list-item-text">
              Weekly mentor-led live workshops
            </p>
            <a href="" class="community-item-link">
              <svg class="community-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="community-list-item">
          <picture>
            <source
              srcset="./img/community/community-img3-mob.png"
              media="(min-width: 1440px)"
              width="241"
              height="180" />
            <source
              srcset="./img/community/community-img3-mob.png"
              width="279"
              height="180" />
            <img
              class="community-img"
              src="./img/community/community-img3-mob.png"
              alt="Office"
              width="279"
              height="180"
              loading="lazy"
          /></picture>
          <div class="community-item-text-wrapper">
            <p class="community-list-item-text">
              Peer-to-peer challenge boards
            </p>
            <a href="" class="community-item-link">
              <svg class="community-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="community-list-item">
          <picture>
            <source
              srcset="./img/community/community-img4-mob.png"
              media="(min-width: 1440px)"
              width="241"
              height="180" />
            <source
              srcset="./img/community/community-img4-mob.png"
              width="279"
              height="180" />
            <img
              class="community-img"
              src="./img/community/community-img4-mob.png"
              alt="Office"
              width="279"
              height="180"
              loading="lazy"
          /></picture>
          <div class="community-item-text-wrapper">
            <p class="community-list-item-text">
              Directory of project collaborators
            </p>
            <a href="" class="community-item-link">
              <svg class="community-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
