<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-text-wrapper">
      <h2 class="section-title contact-title">Contact</h2>
      <p class="section-subtitle contact-subtitle">
        Join Pathify and take your first step into Web3!
      </p>
    </div>
    <ul class="contact-list">
      <li class="contact-list-item">
        <svg class="contact-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-email"></use>
        </svg>
        <a href="mailto:info@propathfy.online" class="contact-item-link"
          >info@propathfy.online
        </a>
      </li>
      <li class="contact-list-item">
        <svg class="contact-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-location"></use>
        </svg>
        <a href="" class="contact-item-link"
          >Pathify Labs, Harju 12, Tallinn, Estonia
        </a>
      </li>
    </ul>
    <a href="#home" class="contact-start-link">Start Your Path Free</a>
  </div>
</section>
