<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <div class="contact-text-wrapper">
        <p class="section-subtitle contact-subtitle">
          Let’s Build Your Future Together.
        </p>
      </div>
      <ul class="contact-list">
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@gohubix.online" class="contact-item-link"
            >info@gohubix.online
          </a>
        </li>
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
          <a href="" class="contact-item-link"
            >GoHu Global Ltd., Torstraße 221, Berlin, Germany
          </a>
        </li>
      </ul>
      <a href="#home" class="contact-book-link">Book a Call</a>
    </div>
  </div>
</section>
