<section class="section mentor-section" id="mentor">
  <div class="container mentor-container">
    <h2 class="section-title mentor-title">Mentor Hub</h2>
    <p class="section-subtitle mentor-subtitle">
      Guidance from
      <span class="subtitle-span">Experienced Builders</span>
    </p>
    <ul class="mentor-list">
      <li class="mentor-list-item">
        <svg class="mentor-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-teacher"></use>
        </svg>
        <p class="mentor-list-item-text">1:1 mentor sessions</p>
      </li>
      <li class="mentor-list-item">
        <svg class="mentor-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-reviews"></use>
        </svg>
        <p class="mentor-list-item-text">Group peer reviews</p>
      </li>
      <li class="mentor-list-item">
        <svg class="mentor-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-wallet"></use>
        </svg>
        <p class="mentor-list-item-text">
          Weekly office hours with VCs & angels
        </p>
      </li>
      <li class="mentor-list-item">
        <svg class="mentor-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-planet"></use>
        </svg>
        <p class="mentor-list-item-text">On-demand masterclasses</p>
      </li>
      <li class="mentor-list-item">
        <svg class="mentor-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-book"></use>
        </svg>
        <p class="mentor-list-item-text">Founder-to-founder learning circles</p>
      </li>
    </ul>
  </div>
</section>
