<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#venture">Venture Lab</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#mentor">Mentor Hub</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#stories">Stories</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pricing">Pricing</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#resources">Resources</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
