<section class="section pricing-section" id="pricing">
  <div class="pricing-bg-wrapper">
    <div class="container pricing-container">
      <div class="pricing-content-wrapper">
        <div class="pricing-text-wrapper">
          <h2 class="section-title pricing-title">Pricing</h2>
          <p class="section-subtitle pricing-subtitle">
            Learn Smarter, Faster.
          </p>
          <ul class="pricing-list">
            <li class="pricing-list-item">
              <p class="pricing-list-item-title">Starter</p>
              <div class="pricing-list-item-wrapper">
                <p class="pricing-list-item-subtitle">Idea-stage founders</p>
                <p class="pricing-list-item-price">€19/mo</p>
                <ul class="pricing-features-list">
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check-fill"></use>
                    </svg>
                    <p class="pricing-features-text">AI pitch builder</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check-fill"></use>
                    </svg>
                    <p class="pricing-features-text">Financial sandbox</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check-fill"></use>
                    </svg>
                    <p class="pricing-features-text">Community access</p>
                  </li>
                </ul>
                <a href="#home" class="pricing-request-link"
                  >Request Proposal</a
                >
              </div>
            </li>
            <li class="pricing-list-item">
              <p class="pricing-list-item-title">Pro</p>
              <div class="pricing-list-item-wrapper">
                <p class="pricing-list-item-subtitle">Early-stage startups</p>
                <p class="pricing-list-item-price">€59/mo</p>
                <ul class="pricing-features-list">
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check-fill"></use>
                    </svg>
                    <p class="pricing-features-text">
                      All Starter features + mentor hub access
                    </p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check-fill"></use>
                    </svg>
                    <p class="pricing-features-text">Peer reviews</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check-fill"></use>
                    </svg>
                    <p class="pricing-features-text">Demo day slots</p>
                  </li>
                </ul>
                <a href="#home" class="pricing-request-link"
                  >Request Proposal</a
                >
              </div>
            </li>
            <li class="pricing-list-item">
              <p class="pricing-list-item-title">Team</p>
              <div class="pricing-list-item-wrapper">
                <p class="pricing-list-item-subtitle">
                  Co-founder teams (up to 5)
                </p>
                <p class="pricing-list-item-price">€199/mo</p>
                <ul class="pricing-features-list">
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check-fill"></use>
                    </svg>
                    <p class="pricing-features-text">Full platform access</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check-fill"></use>
                    </svg>
                    <p class="pricing-features-text">Team dashboards</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check-fill"></use>
                    </svg>
                    <p class="pricing-features-text">Advanced analytics</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check-fill"></use>
                    </svg>
                    <p class="pricing-features-text">Investor lounge</p>
                  </li>
                </ul>
                <a href="#home" class="pricing-request-link"
                  >Request Proposal</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
