<section class="section pricing-section" id="pricing">
  <div class="pricing-bg-wrapper">
    <div class="container pricing-container">
      <div class="pricing-content-wrapper">
        <div class="pricing-text-wrapper">
          <h2 class="section-title pricing-title">Pricing</h2>
          <p class="section-subtitle pricing-subtitle">
            Choose Your Journey Mode
          </p>
          <ul class="pricing-list">
            <li class="pricing-list-item">
              <div class="pricing-item-title-wrapper">
                <p class="pricing-item-title">Free Path</p>
                <p class="pricing-item-price">€0/month</p>
              </div>
              <p class="pricing-item-text">Step 1 access + community forums</p>
            </li>
            <li class="pricing-list-item">
              <div class="pricing-item-title-wrapper">
                <p class="pricing-item-title">Pro Path</p>
                <p class="pricing-item-price">€29/month</p>
              </div>
              <p class="pricing-item-text">full steps + all tools</p>
            </li>
            <li class="pricing-list-item">
              <div class="pricing-item-title-wrapper">
                <p class="pricing-item-title">Team Path</p>
                <p class="pricing-item-price">€249/month</p>
              </div>
              <p class="pricing-item-text">
                startups & teams with mentor sessions
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
