<section class="section resources-section" id="resources">
  <div class="container resources-container">
    <div class="resources-content-wrapper">
      <div class="resources-text-wrapper">
        <h2 class="section-title resources-title">Resources</h2>
        <p class="section-subtitle resources-subtitle">
          <span class="subtitle-span">Learn Smarter, Faster.</span>
        </p>
        <ul class="resources-list">
          <li class="resources-list-item">
            <p class="resources-list-item-text">
              Startup Playbooks (fundraising, go-to-market, scaling)
            </p>
            <a href="" class="resources-item-link">
              <svg class="resources-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
          <li class="resources-list-item">
            <p class="resources-list-item-text">
              AI-powered pitch deck templates
            </p>
            <a href="" class="resources-item-link">
              <svg class="resources-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
          <li class="resources-list-item">
            <p class="resources-list-item-text">
              Access to investor question libraries
            </p>
            <a href="" class="resources-item-link">
              <svg class="resources-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
          <li class="resources-list-item">
            <p class="resources-list-item-text">Recorded Demo Day highlights</p>
            <a href="" class="resources-item-link">
              <svg class="resources-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a href="#contact" class="resources-explore-link">Explore Resources</a>
      </div>
      <picture>
        <source
          srcset="./img/resources/resources-bg-desk.png"
          media="(min-width: 1440px)"
          width="594"
          height="434" />
        <source
          srcset="./img/resources/resources-bg-mob.png"
          width="343"
          height="238" />
        <img
          class="resources-img"
          src="./img/resources/resources-bg-mob.png"
          alt="Pen"
          width="343"
          height="238"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
