<section class="section stories-section" id="stories">
  <div class="container stories-container">
    <div class="stories-content-wrapper">
      <h2 class="section-title stories-title">Stories</h2>
      <p class="section-subtitle stories-subtitle">Paths That Inspire</p>
      <ul class="stories-list">
        <li class="stories-list-item">
          <img
            class="stories-img"
            src="./img/stories/stories-sofia.png"
            alt="Avatar"
            width="60"
            height="60"
            loading="lazy"
          />
          <p class="stories-list-item-name">Sofia, Berlin</p>
          <p class="stories-list-item-text">
            “I found clarity in a world of noise. Pathify gave me confidence to
            start.”
          </p>
        </li>
        <li class="stories-list-item">
          <img
            class="stories-img"
            src="./img/stories/stories-daniel.png"
            alt="Avatar"
            width="60"
            height="60"
            loading="lazy"
          />
          <p class="stories-list-item-name">Daniel, Warsaw</p>
          <p class="stories-list-item-text">
            “The journey structure helped me stay consistent.”
          </p>
        </li>
        <li class="stories-list-item">
          <img
            class="stories-img"
            src="./img/stories/stories-karina.png"
            alt="Avatar"
            width="60"
            height="60"
            loading="lazy"
          />
          <p class="stories-list-item-name">Karina, Tallinn</p>
          <p class="stories-list-item-text">
            “Our team used Pathify tools to launch a real Web3 service.”
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
