<section class="section tools-section" id="tools">
  <div class="tools-bg-wrapper">
    <div class="container tools-container">
      <div class="tools-content-wrapper">
        <div class="tools-text-wrapper">
          <h2 class="section-title tools-title">Tools</h2>
          <p class="section-subtitle tools-subtitle">Your Kit for Every Step</p>
          <p class="tools-text">
            Equip yourself with the essential tools to master every stage of
            your Web3 journey. From tracking your portfolio and exploring DeFi
            strategies to experimenting with NFTs, smart contracts, and
            decentralized governance, Pathify provides a hands-on kit that lets
            you learn by doing and build confidence at every step.
          </p>
        </div>
        <ul class="tools-list">
          <li class="tools-list-item">
            <div class="tools-icon-wrapper">
              <svg class="tools-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-cases"></use>
              </svg>
            </div>
            <p class="tools-list-item-text">Portfolio & risk tracker</p>
          </li>
          <li class="tools-list-item">
            <div class="tools-icon-wrapper">
              <svg class="tools-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-layers"></use>
              </svg>
            </div>
            <p class="tools-list-item-text">
              DeFi simulator with real-time data
            </p>
          </li>
          <li class="tools-list-item">
            <div class="tools-icon-wrapper">
              <svg class="tools-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-globe"></use>
              </svg>
            </div>
            <p class="tools-list-item-text">NFT minting demo</p>
          </li>
          <li class="tools-list-item">
            <div class="tools-icon-wrapper">
              <svg class="tools-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-strategy"></use>
              </svg>
            </div>
            <p class="tools-list-item-text">Token smart contract prototype</p>
          </li>
          <li class="tools-list-item">
            <div class="tools-icon-wrapper">
              <svg class="tools-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-bar-chart"></use>
              </svg>
            </div>
            <p class="tools-list-item-text">DAO governance sandbox</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
