<section class="section venture-section" id="venture">
  <div class="container venture-container">
    <div class="venture-content-wrapper">
      <div class="venture-text-wrapper">
        <h2 class="section-title venture-title">Venture Lab</h2>
        <p class="section-subtitle venture-subtitle">
          <span class="subtitle-span">Practice</span> Without the Risk
        </p>
        <ul class="venture-list">
          <li class="venture-list-item">
            <svg class="venture-icon" width="12" height="12">
              <use href="./img/sprite.svg#icon-target"></use>
            </svg>
            <p class="venture-list-item-text">
              AI Pitch Coach with real-time scoring
            </p>
          </li>
          <li class="venture-list-item">
            <svg class="venture-icon" width="12" height="12">
              <use href="./img/sprite.svg#icon-target"></use>
            </svg>
            <p class="venture-list-item-text">Interactive Financial Sandbox</p>
          </li>
          <li class="venture-list-item">
            <svg class="venture-icon" width="12" height="12">
              <use href="./img/sprite.svg#icon-target"></use>
            </svg>
            <p class="venture-list-item-text">
              Investor Role-Play Q&A simulations
            </p>
          </li>
          <li class="venture-list-item">
            <svg class="venture-icon" width="12" height="12">
              <use href="./img/sprite.svg#icon-target"></use>
            </svg>
            <p class="venture-list-item-text">
              Virtual Demo Days with community voting
            </p>
          </li>
          <li class="venture-list-item">
            <svg class="venture-icon" width="12" height="12">
              <use href="./img/sprite.svg#icon-target"></use>
            </svg>
            <p class="venture-list-item-text">Business Model Canvas builder</p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/venture/venture-bg-desk.png"
          media="(min-width: 1440px)"
          width="594"
          height="320" />
        <source
          srcset="./img/venture/venture-bg-mob.png"
          width="343"
          height="208" />
        <img
          class="venture-img"
          src="./img/venture/venture-bg-mob.png"
          alt="Smartphone"
          width="343"
          height="208"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
